<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>账户安全 - 忘记交易密码</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/sm.css">
    <link rel="stylesheet" href="../../css/sm-extend.css">
    <link rel="stylesheet" href="../../css/userAccount.css">
</head>

<body>
    <div class="page-group" id="findtradePwd_form">
        <validator name="validation1">
            <form novalidate>
                <div class="page page-current">
                    <div class="content pd70 bg-white">
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="tel" placeholder="请输入您绑定的手机号" id="userphone" v-model="tradeModel.phoneCode.phone" v-validate:userphone="['required','phone']" @invalid="phoneInvalid" initial="off" detect-change="off">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input row no-gutter">
                                            <div class="col-80">
                                                <input type="text" placeholder="请输入您的验证码" id="captcha" class="col-80" v-validate:captcha="['required']" v-model="smsModel.preposeToken">
                                            </div>
                                            <div class="col-20">
                                                <label><img id="flash" src="http://192.168.1.220:8080/dkf-web/captcha.svl" onclick="this.src='http://192.168.1.220:8080/dkf-web/captcha.svl?d='+new Date().getTime()" title="验证码" style="cursor: pointer;width:100%;" /></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="tel" placeholder="请输入您的手机验证码" id="phonecode"  v-model="tradeModel.phoneCode.code" v-validate:phonecode="{required:true, minlength: 6, maxlength: 6}">
                                            </div>
                                            <div class="item-media">
                                                <input type="button" value="获取" class="j_get" v-on:click="sendSms" :disabled="!$validation1.userphone.valid">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="#page2" v-if="$validation1.valid" class="button button-fill">下一步</a>
                        <a v-else="!$validation1.valid" class="button button-fill disabled">下一步</a>
                    </div>
                </div>
            </form>
        </validator>
        <validator name="validation2">
            <form novalidate>
                <div class="page pd20 bg-white" id="page2">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="text" placeholder="请输入您的姓名" id="username"  v-validate:username="['required']">
                                            <input type="hidden" v-model="tradeModel.data.realName">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="text" placeholder="请输入您的身份证号" id="usernum"  v-validate:usernum="['required']" v-on:blur="checkUserNo">
                                             <input type="hidden" v-model="tradeModel.data.idCardNo">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="#page3" v-if="$validation2.valid" class="button button-fill">下一步</a>
                    <a v-else="!$validation2.valid" class="button button-fill disabled">下一步</a>
                </div>
            </form>
        </validator>
        <validator name="validation3">
            <form novalidate>
                <div class="page pd20 bg-white" id="page3">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="password" placeholder="请输入您的新密码" id="password" v-validate:password="['tradepassw']" @invalid="tradepasswInvalid" initial="off" detect-change="off" v-model="password1">
                                            <input type="hidden" v-model="tradeModel.password">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="password" placeholder="请再次输入您的新密码" id="password1" v-validate:password1="{minlength:6}" v-on:blur="checkPassword" v-model="password2">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input type="button" value="确认提交" class="button button-fill" :disabled="!$validation3.valid" v-on:click="recoverTradePassword">
                </div>
            </form>
        </validator>
    </div>
    <script type='text/javascript' src='../../js/lib.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='../../js/base.js' charset='utf-8'></script>
    <script>
        var url = 'http://192.168.1.220:8080/dkf-web/';
        var publickey ,pwdValue,realName,idCardNo;
        new Vue({
            el: '#findtradePwd_form',
            data:{
                 password1:'',
                password2:'',
                smsModel:{
                    preposeToken: "",
                    platform: "2",
                    operationType: 3,
                    position: {
                        latitude: 42.4996330000,
                        longitude: 120.4565540000
                      }

                  },
                tradeModel:{
                    preposeToken:'',
                    platform:'2',
                    data:{
                        realName:'',
                        idCardNo:''
                    },
                    phoneCode:{
                        phone:'',
                        code:''
                    },
                    password:'',
                      position: {
                        latitude: 42.4996330000,
                        longitude: 120.4565540000
                      }
                }

            },
            alidators: {},
            methods:{
                phoneInvalid() {
                    $.toast('请输入正确的手机号');
                    return false
                },
                tradepasswInvalid() {
                    $.toast('请输入6位数字密码');
                    return false
                },
                checkUserNo:function() {
                    if (!/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/.test($('#usernum').val())){
                        $.toast('请输入正确的身份证号');
                        return false
                    }
                },
                checkPassword() {
                    if (this.password1 != this.password2) {
                        $.toast('密码不一致，请确认');
                        return false
                    }
                },
                sendSms: function() {
                    var _self = this;
                    $.ajax({
                        url: url + 'user/sendSmsCode',
                        type: 'POST',
                        data: JSON.stringify(_self.smsModel),
                        success: function(data) {
                            if (data.state == 0) {
                                base.countDown($('.j_get'));
                                publickey = data.data;

                            } else {
                                $.toast(data.msg);
                            }

                        },
                        error: _self.requestError
                    });

                },
                recoverTradePassword:function() {
                    var _self = this;
                    pwdValue = $('#password').val();
                    realName = $('#username').val();
                    idCardNo = $('#usernum').val();
                    _self.tradeModel.password = base.encrypt(pwdValue, publickey);
                    _self.tradeModel.data.realName = base.rsaEncrypt(realName, publickey);
                    _self.tradeModel.data.idCardNo = base.rsaEncrypt(idCardNo, publickey);
                    _self.tradeModel.preposeToken = $('#captcha').val();
                    $.ajax({
                        url: url + 'user/recoverTradePassword',
                        type: 'POST',
                        data: JSON.stringify(_self.tradeModel),
                        success: function(data) {
                            if(data.state == 0) {
                                $.toast('找回交易密码成功');
                            }
                            else {
                                $.toast(data.msg);
                            }
                        },
                        error: _self.requestError
                    });
                },
                requestError: function(xhr, errorType, error) {
                    $.toast(xhr.responseText);
                }
            }
        });


    </script>
</body>

</html>
